<section class="ae-container-fluid ae-container-fluid--full">
  <header class="rk-portfolio-cover  post-inside-1">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">El tiempo en Galicia</h1>
    </div>
  </header>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <p class="ae-u-bolder">Sobre la Página</p>
        <p>En esta página web vas a poder ver como está el tiempo en diferentes partes de Galicia</p>
        <p>Tenemos cámaras proporcionadas directamente por la xunta de Galicia dispersadas por toda la comunidad en las que puedes ver el estado meteorológico en cada instante, ya que estas se actualizan de forma periódica cada ciertos minutos.</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/imgs/Davis-Vantage-vue-pro-2-1024x648 (1).jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto"><img src="assets/imgs/c7bbb7950562008b5a5a3eed1fb42e96.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Galicia nuestra tierra</h4>
        <p class="ae-eta">Las cuatro provincias de Galicia </p>
        <p>Existen cámaras por las cuatro provincias gallegas. Entre ellas tenemos cámaras en:<br>
          Ourense:A teixeira y Carballeda de Valdeorras.<br>
          Lugo:Ribadeo, Cervantes, Baleira etc.<br>
          A Coruña:Cariño, Camariñas, Santiago de Compostela etc.<br>
          Pontevedra:Cuntis, Vilanova de Arousa, Vigo etc.

        </p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6"><img src="assets/imgs/OIP.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <p class="ae-u-bolder">Nuestro servicio</p>
        <p>El objetivo de esta página es mostrar el estado del tiempo en toda Galicia.</p>
        <p>Esto puede ser de gran utilidad para las personas que quieran viajar, ya que puedes ver el estado atmosférico casi en tiempo real. Así puedes saber que ropa vas a necesitar, ya sea una camiseta de manga corta o un abrigo</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-lg-ta-left au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">1.</span>
        <p>Suspendisse ultricies tellus eget nisl molestie, quis sagittis mauris placerat.</p><span class="ae-u-boldest">2.</span>
        <p>Pellentesque et nulla pulvinar, bibendum quam ac, cursus turpis.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">3.</span>
        <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">4.</span>
        <p>Morbi hendrerit laoreet lectus a fringilla.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">5.</span>
        <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">6.</span>
        <p>Morbi hendrerit laoreet lectus a fringilla.</p>
      </div>
    </div>
  </div>
</section>
