<section class="ae-container-fluid ae-container-fluid--full">
  <header class="rk-portfolio-cover  post-inside-1">
    <div class="item-inside__meta">
      <h1 class="ae-u-bolder rk-portfolio-title ">El tiempo en Galicia</h1>
    </div>
  </header>
  <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
        <p class="ae-u-bolder">Sobre la Página</p>
        <p>En esta pagina web vas a poder ver como esta el tiempo en diferentes pasrtes de Galicia</p>
        <p>Tenemos camaras proporcionadas directamentte por la xunta de Galicia dispersadas por toda la comunidad en las que puedes ver el estado meteorolofico en cada instante ya que estas se actualizan de forma periodica cada ciertos minutos.</p>
      </div>
      <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/imgs/Davis-Vantage-vue-pro-2-1024x648 (1).jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg--auto"><img src="assets/imgs/c7bbb7950562008b5a5a3eed1fb42e96.jpg" alt="Urku Portfolio"></div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Galicia nuestra tierra</h4>
        <p class="ae-eta">Las cuatro provincias de Galicia </p>
        <p>Existen camaras por las cuatro provincias gallegas. Entre ellas tenemos camaras en:<br>
          Ourense:A teixeira y Carballeda de Valdeorras.<br>
          Lugo:Ribadeo, Cervantes, Baleira etc.<br>
          A Coruña:Cariño, Camariñas, Santiago de Compostela etc.<br>
          Pontevedra:Cuntis, Vilanova de Arousa, Vigo etc.

        </p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-6"><img src="assets/imgs/OIP.jpg" alt="Urku Portfolio"></div>
      <div class="ae-grid__item item-lg-5 item-lg--offset-1 au-lg-ptp-1">
        <p class="ae-u-bolder">Nuestro servicio</p>
        <p>El objetivo de esta pagina es mostrar el estado del tiempo en toda Galicia.</p>
        <p>Esto puede ser de gran utilidad para las personas que quieran viajar ya que puedes ver el estado atmosferico casi en tiempo real. Asi puedes saber que ropa vas a necesitar ya sea una camiseta de manga corta o un abrigo</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-lg-ta-left au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">1.</span>
        <p>Suspendisse ultricies tellus eget nisl molestie, quis sagittis mauris placerat.</p><span class="ae-u-boldest">2.</span>
        <p>Pellentesque et nulla pulvinar, bibendum quam ac, cursus turpis.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">3.</span>
        <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">4.</span>
        <p>Morbi hendrerit laoreet lectus a fringilla.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4"><span class="ae-u-boldest">5.</span>
        <p>Sed quam odio, blandit sit amet dapibus id, aliquet sollicitudin enim. </p><span class="ae-u-boldest">6.</span>
        <p>Morbi hendrerit laoreet lectus a fringilla.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Full Wide Text</h4>
        <p class="ae-eta">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. <br>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse inner-box-3">
      <div class="ae-grid__item item-lg-10 item-lg--offset-1">
        <blockquote class="au-xs-ta-center">
          <p class="ae-delta au-italic">“Love is the answer, and you know that for sure. Love is a flower, you've got to let it grow.”</p>
          <footer>
            <p class="ae-theta">By <span class="ae-u-bolder">John Lenon</span></p>
          </footer>
        </blockquote>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-12 au-xs-ta-center">
        <p class="ae-theta">Written by <span class="ae-u-bolder">Pixeden</span></p>
        <p class="ae-theta">in <span class="ae-u-bolder">Photography </span></p>
      </div>
    </div>
    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
      <div class="ae-grid__item item-lg-12"></div>
    </div>
  </div>
</section>
