
  <div class="ae-grid au-xs-ta-center au-mb-4">

    <div *ngFor="let persona of infoService.equipo"  class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
      <img [src]="persona.url" alt="" class="au-mb-3 shadow-pop-tr">
      <h5 class="ae-u-bolder au-mt-2">{{ persona.nombre }}</h5>
      <p class="ae-u-bolder au-mb-3">{{ persona.subtitulo }}</p>
      <a target="_blank" href="https://twitter.com/{{ persona.twitter }}" class="ae-u-bolder au-underline">{{ persona.twitter }}</a>
    </div>

  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Sobre Nosotros</h6>
      <p class="au-lh-3">Nuestra página fue creada en Angular 12 basada en los principios de las SPAs que permite cargar todas las páginas una sola vez sin tener que realizar más llamadas al servidor</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestra Misión </h6>
      <p class="au-lh-3">Nuestro objetivo es crear una web en la que puedas ver el estado meteorológico de manera directa desde las imágenes que proporcionamos.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestros Clientes</h6>
      <p class="au-lh-3">Intentamos que todas las personas puedan acceder a la página y se puedan informar sobre el tiempo prácticamente en directo</p>
      <p class="au-lh-3">También planeamos que puedan subir sus fotos y localizaciones en el futuro</p>
    </div>
  </div>
